<a>
  <div class="holder padding-zero">
    <div class="skin-index text-center step1">
      <div class="dot primaryBackgroundTheme"
           ng-click="WidgetHome.goToLocation()">
        <h3 class="headerTextTheme" style="color: white !important;">Find<br>UV Index</h3>
      </div>
      <div class="item clearfix row" ng-if="WidgetHome.data">
        <div class="main col-md-12">
          <div class="alert alert-danger alert-sm text-center headerTextTheme"
               ng-if="WidgetHome.addApiKey">Please enter API Key to<br>
            find UV index in settings section
          </div>
        </div>
      </div>
    </div>
  </div>
</a>