
<div class="holder padding-zero" ng-controller="WidgetLocationCtrl as
     WidgetLocation">
  <div class="skin-index text-left step2" ng-if="WidgetLocation.data">
    <div class="form-holder">
      <input type="text" class="zip-code border-none form-control headerTextTheme"
             placeholder="Enter zip code or city"
             ng-model="WidgetLocation.currentLocation"
             google-location-search callback-fn="WidgetLocation.setLocation(data)">
            <span ng-click="WidgetLocation.getWeatherData()"
                  class="go-link text-primary headerTextTheme">Go</span>
      <hr class="small margin-top-zero">
    </div>
    <div class="city-list" ng-click="WidgetLocation.getCurrentLocation()" style="cursor: pointer">
      <p><span class="icon icon-map-marker headerTextTheme"></span> Use Current Location</p>
    </div>
  </div>
  <!--<div class="message-overlay border-grey border-radius-four">
      <div class="message padded">
          <p class="margin-zero text-center">We cannot locate that zip code. Please try again.</p>
      </div>
      <div class="bottom border-top-grey text-center">
          <a>OK</a>
      </div>
  </div>-->
</div>
