<div class="holder padding-zero" ng-controller="WidgetWeatherCtrl as
     WidgetWeather">
  <div class="skin-index text-center step3" ng-if="WidgetWeather.info && WidgetWeather.info.weather">
    <h1 class="margin-bottom-five bodyTextTheme">{{WidgetWeather.info.current_condition[0].FeelsLikeF}}<span class="bodyTextTheme">&deg;</span></h1>
    <h4 class="margin-top-five margin-bottom-five bodyTextTheme padding-left-ten padding-right-ten">{{WidgetWeather.currentLocation}}</h4>
    <h5 class="margin-top-five margin-bottom-five bodyTextTheme">{{WidgetWeather.info.current_condition[0].weatherDesc.value}}</h5>
    <h5 class="margin-top-five margin-bottom-five text-primary">
		<a class="text-primary" ng-click="WidgetWeather.resetLocation()">Reset Location</a>
	</h5>
    <div class="dot primaryBackgroundTheme margin-top-twenty">
      <h1 class="margin-zero whiteTheme">{{WidgetWeather.info.weather[0].uvIndex}}</h1>
    </div>
    <h4 class="margin-top-twenty margin-bottom-five bodyTextTheme">UV Index: {{WidgetWeather.info.weather[0].uvIndex}} - {{WidgetWeather.info.condition}}</h4>
    <h5 class="margin-top-five margin-bottom-five bodyTextTheme">{{WidgetWeather.info.title}}</h5>
    <div class="steps">
      <div class="step clearfix" ng-repeat="step in WidgetWeather.info.steps">
        <span class="num dot pull-left whiteTheme primaryBackgroundTheme">{{$index + 1}}</span>
        <p class="ellipsis">{{step}}</p>
      </div>
    </div>
  </div>
  <div class="item clearfix" ng-if="WidgetWeather.data">
    <div class="main col-md-12 margin-top-ten">
      <div class="alert alert-danger alert-sm text-center" ng-if="WidgetWeather.invalidApiKey">Invalid API key.</div>
    </div>
  </div>
  <div class="item clearfix" ng-if="WidgetWeather.data">
    <div class="main col-md-12 margin-top-ten">
      <div class="alert alert-danger alert-sm text-center" ng-if="WidgetWeather.invalidLocation">Choose a more specific location.</div>
    </div>
  </div>
</div>